<<<<<<< HEAD
* {
    font-family: "Red Hat Text", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-shrink: 1;
    height: 100%;
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}


#home-text {
    color: white;
}

#home-text > h1 {
    font-size: 2.5em;
    text-align: center;
}

#home-text > p {
    font-size: 1.5em;
    text-align: center;
}

section#contact {
    height: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #219EBC;
    width: 100%;
    height: 80px;
    font-size: 2em;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    border-bottom: 22px #023047 solid;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    width: 100%;
    
}

ul li {
    color: white;
}

#home {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    background-image: url("./assets/images/blue-sea-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-text {
    margin: 150px auto;
}

.headline {
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

#profile-box {
    display: flex;
    border: 10px black solid;
    width: 75%;
    /* width: 1146px; */
    height: fit-content;
    gap: 5px;
    padding: 10px;
    flex-shrink: 2;
}

#me {
    float: left;
    margin: auto;
    height: 210px;
    flex-basis: 1;
}

.profile-text {
    flex-basis: 2;
    width: 75%;
    font-size: 20px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.skill-section {
    display: flex;
    flex-shrink: 3;
    padding: 20px;
}

#skill-title {
    text-align: center;
    font-size: 50px;
}

.skill-img {
    float: left;
    width: 12.5em;
    height: 12.5em;
}

.skill-text {
    margin: 10px;
}

.skill-text > h3 {
    font-size: 21px;
}

.skill-text > p {
    font-size: 15px;
}

#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    color: white;
    background-color: #1E272A;
    width: 5rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 5px;
    border-radius: 30px;
}

footer {
    display: flex;
    background-color: #1E272A;
    color: white;
    width: 100%;
    height: 100px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

a { 
    margin: 10px;
    color: white;
    text-decoration: none;
}

#copyright {
    margin: 0;
    align-self: center;
    justify-content: center;
}

@media (max-width: 1079px){

    body {
        height: 100%;
        width: 100vw;
    }

    nav {
        font-size: 21px;
    }

    #home-text > h1 {
        font-size: 30px;
    }

    #skill-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 25px;
    }      
    
    #profile-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* width: 50px; */
    }

    #me {
        margin: 0;
        /* width: 50px;
        height: 50px; */
        flex-shrink: 1;
    }
    
    .profile-text {
        margin: auto;
        flex-shrink: 1;
        /* font-size: 5px; */
    }
    
    .skill-text > p {
        font-size: 12px;
    }

    #contact-container {
        font-size: 12px;
    }
}
=======
* {
    font-family: "Red Hat Text", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;

}

#home-text {
    color: white;
}

#home-text > h1 {
    font-size: 56px;
}

#home-text > p {
    font-size: 30px;
    text-align: center;
}

section#contact {
    height: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #219EBC;
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    border-bottom: 22px #023047 solid;

}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    width: 100%;
    
}

ul li {
    color: white;
}

#home {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    background-image: url("./assets/images/blue-sea-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-text {
    margin: 150px auto;
}

.headline {
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-box {
    display: flex;
    border: 10px black solid;
    width: 75%;
    /* width: 1146px; */
    height: fit-content;
    gap: 5px;
    padding: 10px;
}

#me {
    float: left;
    margin: 40px auto;
    height: 210px;
    flex-basis: 1;
}

.profile-text {
    flex-basis: 2;
    width: 75%;
    font-size: 20px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.skill-section {
    display: flex;
    flex-basis: 1;
    padding: 20px;
}

#skill-title {
    text-align: center;
    font-size: 50px;
}

.skill-img {
    float: left;
    width: 200px;
    height: 200px;
}

.skill-text {
    margin: 10px;
}

.skill-text > h3 {
    font-size: 21px;
}

.skill-text > p {
    font-size: 15px;
}

#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    color: white;
    background-color: #1E272A;
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
}

footer {
    display: flex;
    background-color: #1E272A;
    color: white;
    height: 100px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

a { 
    margin: 10px;
    color: white;
    text-decoration: none;
}

#copyright {
    margin: 0;
    align-self: center;
    justify-content: center;
}

@media (max-width: 1079px){

    body {
        height: 100%;
        width: fit-content;
    }

    nav {
        font-size: 21px;
    }

    #home-text > h1 {
        font-size: 40px;
    }

    #skill-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 25px;
    }      
    
    #profile-box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #me {
        margin: auto;
        width: fit-content;
    }
    
    .profile-text {
        margin: auto 30px 30px;
    }
    
    .skill-text > p {
        font-size: 12px;
    }

    #contact-container {
        font-size: 12px;
    }


}
>>>>>>> img-source-change
